.input {
  height: 40px;
  width: 80%;
  padding: 0 10px;
  margin: 5px auto;
  background-color: #2a2740;
  border-radius: 15px;
  display: block;
  border: 0;
  color: white;
  letter-spacing: 1px;
  transition: font-size 0.3s ease;

  &:focus {
    outline: 0;
  }

  &:focus + .placeholder {
    top: -2px;
    font-size: 12px;
  }
}

.placeholder {
  position: absolute;
  top: 30%;
  left: 12%;
  color: rgb(202, 201, 201);
  width: 100%;
  transition: top 0.3s ease, font-size 0.3s ease;
  cursor: text;
}

.wrapper {
  position: relative;
  width: 100%;
}

.error {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: red;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  background-color: #1c1a2b;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease;
  position: relative;
  margin: 0 auto 30px;
  width: 200px;
  height: 40px;

  &:hover {
    background-color: #14121e;
  }
}
